In [4]:
numbers = [0,1,2,3,4,5]

for number in numbers:
    print(number)

0
1
2
3
4
5

In [8]:
for values in years_experience.values():
    print(values)

25
26
10
19
20
26
15
30
13
12
29
9
1
11
19
25
11
7
9
6
15
2
6
8
28

In [5]:
characters = 'PYTHON'
for c in characters:
    print(c)

P
Y
T
H
O
N

In [6]:
import random

names = [
    "Alice", "Bob", "Charlie", "Diana", "Ethan", "Fiona", "George", "Hannah",
    "Ian", "Julia", "Kevin", "Laura", "Mike", "Nina", "Oscar", "Paula", "Quinn",
    "Rachel", "Steve", "Tina", "Umar", "Violet", "Will", "Xena", "Yusuf"
]

years_experience = {name: random.randint(0, 30) for name in names}

print(years_experience)

{'Alice': 25, 'Bob': 26, 'Charlie': 10, 'Diana': 19, 'Ethan': 20, 'Fiona': 26, 'George': 15, 'Hannah': 30, 'Ian': 13, 'Julia': 12, 'Kevin': 29, 'Laura': 9, 'Mike': 1, 'Nina': 11, 'Oscar': 19, 'Paula': 25, 'Quinn': 11, 'Rachel': 7, 'Steve': 9, 'Tina': 6, 'Umar': 15, 'Violet': 2, 'Will': 6, 'Xena': 8, 'Yusuf': 28}

In [11]:
for key, value in years_experience.items():
    if value > 20:
        print(key, 'has', value, 'years experience')

Alice has 25 years experience
Bob has 26 years experience
Fiona has 26 years experience
Hannah has 30 years experience
Kevin has 29 years experience
Paula has 25 years experience
Yusuf has 28 years experience

In [12]:
for n in range(5):
    print(n)

0
1
2
3
4

In [15]:
count = 1
while count < 5:
    print(count)
    count += 1

1
2
3
4

In [16]:
years_experience = {
    "Alice": 4,
    "Bob": 9,
    "Charlie": 2,
    "Diana": 7,
    "Ethan": 5
}

In [18]:
years = 0
index = 0
years_list = list(years_experience.items())
while years < 5:
    key, years = years_list[index]
    if years >= 5:
        print(key, years)
    index += 1

Bob 9